h2{
    text-align: center;
    @extend %display;
    @include Margenes (20px,20px); 
}
.nosotros{
    @include Margenes;
}

.imagenes1 {
    @include margenes; 
    margin-left: 175px;
    margin-right:100px;
    align-items: center;
}
.imagenes2 {
    @include margenes; 
    margin-left: 175px;
    margin-right:100px;
    align-items: center;
}
.imagenes3 {
    @include margenes; 
    margin-left: 175px;
    margin-right:100px;
    align-items: center;
}
.imagen:hover{
    transform: scale(1.5,1.5)
}
h3{
    text-align: left;
    @extend %display;
     margin-top: 30px;
     margin-bottom: 20px;
   }
p{
     text-align: justify;
     font-family: 'Montserrat', sans-serif;
     font-size: nth($size , 4 );
     color:nth($colores , 1 );
     margin-top: 10px;
     margin-bottom: 10px;
  }