h1{
    font-size: nth($size , 3 );
    color:nth($colores , 1 );
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;

}

.navBar {
    color: #dcd0c0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f4
}
